<mat-sidenav-container class="sidenav-container">
  <div class="text-center">
    <img src="./assets/profile.jpeg" class="menu-profile" alt="profile">
    <p>{{currentUser.firstName}} {{currentUser.lastName}}</p>
  </div>
  <mat-list class="menu-list">
    <h3 mat-subheader class="subheader">My Transactions</h3>

    <mat-list-item class="menu-item" [ngClass]="{'menu-item-active': activeRoute === ''}" (click)="openPage('')">
      <mat-icon mat-list-icon svgIcon="home-outline"></mat-icon>
      <h4 mat-line>Deposits</h4>
    </mat-list-item>

    <mat-list-item class="menu-item" [ngClass]="{'menu-item-active': activeRoute === '/withdrawals'}" (click)="openPage('/withdrawals')">
      <mat-icon mat-list-icon svgIcon="settings-outline"></mat-icon>
      <h4 mat-line>Withdrawals</h4>
    </mat-list-item>
  </mat-list>

</mat-sidenav-container>