table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

td, th {
  width: 1%;
}
.mat-success {
  background-color: #B22222;
  color: #fff;
  padding-left: 20px !important;
  margin-left: 10px !important;
}
.mat-edit {
background-color: #69f0ae !important;
color: #fff !important;
}
form{
display: inline-flex !important;
}
.left-margin {
margin-left: 20px;
}
.add-button {
width: 100%;
height: 37px;
margin-left: 10px;
}
.form2{
display: grid !important;
}