
  <div class="margin">
      <div class="top alignItem"> 
          <h3>
               Login Form
            </h3>
      </div>
    
    <div class="top cardSize">
      
  <mat-card class="login-card">
      <div *ngIf="success" class="success">{{success}}</div>
      <div *ngIf="errorMsg" class="alert alert-danger alert-dismissable text-center">{{errorMsg}}</div>
    
      <mat-card-content>
        <form class="login-form">
    
          <mat-form-field>
            <input matInput placeholder="Email"  [(ngModel)]="user.email"  name="email" required>
          </mat-form-field>
          <br>
    
          <mat-form-field>
            <input matInput placeholder="Password"  [(ngModel)]="user.password"  type="password" name="password" required>
          </mat-form-field>
        </form>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button (click)="register()" color="danger">Register</button>
  
        <button mat-raised-button (click)="verify()" color="primary">Login</button><br><br>

        <button mat-flat-button transparent (click)="reset()" >Forgot your Password ?</button>

      </mat-card-actions>


      
    </mat-card>
    
      </div>
    
    </div>
  