.example-card {
    max-width: 400px;
  }
  
  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }
  .example-card[_ngcontent-c10] {
    max-width: 250px;
    height: 80px;
}
.margin{
    margin-left: 0px;
    height: 750px;
    background: #ffffff;
    margin-top: -5px;
}
.alignCards {
    display: grid;
    grid-template-columns: repeat(3, 250px);
    grid-gap: 10px;
    align-content: space-between;
    justify-content: space-around;
}
.top{
    padding-top: 50px;
}
.alignItem{
    text-align: center;
}
.mat-card-content>:last-child:not(.mat-card-footer), .mat-card>:last-child:not(.mat-card-footer) {
    margin-bottom: 0;
    align-items: center;
    text-align: center;
}
.ht{
    height: 20px;
    background: #000000;
    width: 250px;
    margin-left: -24px;
}
.mat-card-content>:first-child, .mat-card>:first-child {
    /* margin-top: 0; */
    margin-bottom: 65px;
}
.cardSize{
    margin-left: 50px;
    margin-right: 50px;
}
.mat-form-field {
    display: inline-block;
    position: relative;
    text-align: left;
    width: 50%;
}
button.mat-raised-button {
    width: 180px;
}
mat-sidenav-container.footer.mat-drawer-container.mat-sidenav-container {
    position: absolute;
    width: 100%;
    bottom: 0;
    overflow: hidden;
}
.bgColor{
    background: #EFF0F1;

}
.alert.alert-danger.alert-dismissable.text-center.ng-star-inserted {
    text-align: center;
    color: red;
}
.success.ng-star-inserted {
    text-align: center;
    color: green;
}
