table {
    width: 100%;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  
  td, th {
    width: 1%;
  }
  .mat-success {
    background-color: #B22222;
    color: #fff;
    padding-left: 20px !important;
    margin-left: 10px !important;
}
.mat-edit {
  background-color: #69f0ae !important;
  color: #fff !important;
}
  