<h2 mat-dialog-title>Edit Transaction</h2>
<mat-dialog-content class="mat-typography">

  <form style='display: grid !important;'  novalidate >
    <mat-form-field>
        <input matInput required [(ngModel)]="data.deposits.bank"  [ngModelOptions]="{standalone: true}" placeholder="Cheque Number" type="text">
      </mat-form-field>

      <mat-form-field class="left-margin">
          <input matInput required  [(ngModel)]="data.deposits.amount"   [ngModelOptions]="{standalone: true}" placeholder="Amount" type="number" value="">
      </mat-form-field>

      <mat-form-field class="left-margin">
          <input matInput required  [(ngModel)]="data.deposits.date"  [ngModelOptions]="{standalone: true}" placeholder="Date" type="date"  value="">
      </mat-form-field>

    <mat-form-field class="left-margin">
      <mat-select matInput name="mySelect" placeholder= "Select transaction type" [(ngModel)]="data.deposits.type"   [ngModelOptions]="{standalone: true}">
          <mat-option  *ngFor="let type of data.types" [value]="type">
              {{type}}
          </mat-option>
      </mat-select>
  </mat-form-field>
</form><br><br>
  

</mat-dialog-content>
<mat-dialog-actions align="center">
  <button mat-raised-button (click)="update2()" color='accent'>Cancel</button>
  <button mat-raised-button mat-dialog-close  class="mat-edit" cdkFocusInitial >Edit Deposit</button>
</mat-dialog-actions>
