
  <div class="margin">
    <div class="top alignItem"> 
        <h3>
             Reset Password 
          </h3>
    </div>
  
  <div class="top cardSize">
    
<mat-card class="login-card">
    <div *ngIf="success" class="success">{{success}}</div>
  
    <mat-card-content>
      <form class="login-form">
  
        <mat-form-field>
          <input matInput placeholder="Email"  [(ngModel)]="user.email"  name="email" required>
        </mat-form-field>
      </form>
    </mat-card-content>

    <mat-card-actions>
        <button mat-raised-button (click)="login()" color="danger">Login</button>
      <button mat-raised-button (click)="reset()" color="primary">Rest Your Password</button>
    </mat-card-actions>
  </mat-card>
  
    </div>
  
  </div>